In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('cleaaaaaan.csv')
df.head()

,repository,owner,repository_url,created_at,description,topics,language,stars,forks,open_issues,contributor,contributions
0,notepad--,cxasm,https://github.com/cxasm/notepad--,2022-06-15 02:50:15+00:00,A text editor that supports windows linux mac ...,"['notepad--', 'C++']",C++,2939,117,114,cxasm,61
1,notepad--,cxasm,https://github.com/cxasm/notepad--,2022-06-15 02:50:15+00:00,A text editor that supports windows linux mac ...,"['notepad--', 'C++']",C++,2939,117,114,littzhch,1
2,pocket-casts-android,Automattic,https://github.com/Automattic/pocket-casts-and...,2022-06-15 12:41:42+00:00,Pocket Casts Android,"['android', 'pocket-casts']",Kotlin,2250,168,252,ashiagr,1679
3,pocket-casts-android,Automattic,https://github.com/Automattic/pocket-casts-and...,2022-06-15 12:41:42+00:00,Pocket Casts Android,"['android', 'pocket-casts']",Kotlin,2250,168,252,mchowning,993
4,pocket-casts-android,Automattic,https://github.com/Automattic/pocket-casts-and...,2022-06-15 12:41:42+00:00,Pocket Casts Android,"['android', 'pocket-casts']",Kotlin,2250,168,252,geekygecko,398

In [8]:
contributor = df[['contributor']]
owner = df[['owner']]
language = df[['language']]
repository = df[['repository', 'repository_url', 'created_at', 'description', 'topics', 'stars', 'forks', 'open_issues']]

In [9]:
repository.head()

,repository,repository_url,created_at,description,topics,stars,forks,open_issues
0,notepad--,https://github.com/cxasm/notepad--,2022-06-15 02:50:15+00:00,A text editor that supports windows linux mac ...,"['notepad--', 'C++']",2939,117,114
1,notepad--,https://github.com/cxasm/notepad--,2022-06-15 02:50:15+00:00,A text editor that supports windows linux mac ...,"['notepad--', 'C++']",2939,117,114
2,pocket-casts-android,https://github.com/Automattic/pocket-casts-and...,2022-06-15 12:41:42+00:00,Pocket Casts Android,"['android', 'pocket-casts']",2250,168,252
3,pocket-casts-android,https://github.com/Automattic/pocket-casts-and...,2022-06-15 12:41:42+00:00,Pocket Casts Android,"['android', 'pocket-casts']",2250,168,252
4,pocket-casts-android,https://github.com/Automattic/pocket-casts-and...,2022-06-15 12:41:42+00:00,Pocket Casts Android,"['android', 'pocket-casts']",2250,168,252

In [10]:
contributor['contributor_Id'] = contributor['contributor'].astype('category').cat.codes
owner['owner_Id'] = owner['owner'].astype('category').cat.codes
language['language_Id'] = language['language'].astype('category').cat.codes
repository['repository_Id'] = repository['repository'].astype('category').cat.codes

C:\Users\Youcode\AppData\Local\Temp\ipykernel_2652\2971982227.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contributor['contributor_Id'] = contributor['contributor'].astype('category').cat.codes
C:\Users\Youcode\AppData\Local\Temp\ipykernel_2652\2971982227.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  owner['owner_Id'] = owner['owner'].astype('category').cat.codes
C:\Users\Youcode\AppData\Local\Temp\ipykernel_2652\2971982227.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  language['language_Id'] = language['language'].astype('category').cat.codes
C:\Users\Youcode\AppData\Local\Temp\ipykernel_2652\2971982227.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  repository['repository_Id'] = repository['repository'].astype('category').cat.codes

In [11]:
repository.head()

,repository,repository_url,created_at,description,topics,stars,forks,open_issues,repository_Id
0,notepad--,https://github.com/cxasm/notepad--,2022-06-15 02:50:15+00:00,A text editor that supports windows linux mac ...,"['notepad--', 'C++']",2939,117,114,3520
1,notepad--,https://github.com/cxasm/notepad--,2022-06-15 02:50:15+00:00,A text editor that supports windows linux mac ...,"['notepad--', 'C++']",2939,117,114,3520
2,pocket-casts-android,https://github.com/Automattic/pocket-casts-and...,2022-06-15 12:41:42+00:00,Pocket Casts Android,"['android', 'pocket-casts']",2250,168,252,3763
3,pocket-casts-android,https://github.com/Automattic/pocket-casts-and...,2022-06-15 12:41:42+00:00,Pocket Casts Android,"['android', 'pocket-casts']",2250,168,252,3763
4,pocket-casts-android,https://github.com/Automattic/pocket-casts-and...,2022-06-15 12:41:42+00:00,Pocket Casts Android,"['android', 'pocket-casts']",2250,168,252,3763

In [12]:
repository['language_Id'] = language['language_Id']
repository['owner_Id'] = owner['owner_Id']

C:\Users\Youcode\AppData\Local\Temp\ipykernel_2652\3926355928.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  repository['language_Id'] = language['language_Id']
C:\Users\Youcode\AppData\Local\Temp\ipykernel_2652\3926355928.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  repository['owner_Id'] = owner['owner_Id']

In [13]:
repository.head()

,repository,repository_url,created_at,description,topics,stars,forks,open_issues,repository_Id,language_Id,owner_Id
0,notepad--,https://github.com/cxasm/notepad--,2022-06-15 02:50:15+00:00,A text editor that supports windows linux mac ...,"['notepad--', 'C++']",2939,117,114,3520,11,1859
1,notepad--,https://github.com/cxasm/notepad--,2022-06-15 02:50:15+00:00,A text editor that supports windows linux mac ...,"['notepad--', 'C++']",2939,117,114,3520,11,1859
2,pocket-casts-android,https://github.com/Automattic/pocket-casts-and...,2022-06-15 12:41:42+00:00,Pocket Casts Android,"['android', 'pocket-casts']",2250,168,252,3763,42,160
3,pocket-casts-android,https://github.com/Automattic/pocket-casts-and...,2022-06-15 12:41:42+00:00,Pocket Casts Android,"['android', 'pocket-casts']",2250,168,252,3763,42,160
4,pocket-casts-android,https://github.com/Automattic/pocket-casts-and...,2022-06-15 12:41:42+00:00,Pocket Casts Android,"['android', 'pocket-casts']",2250,168,252,3763,42,160

In [14]:
print(repository.shape)

(24549, 11)

In [15]:
repository = pd.DataFrame(repository)

# Create a copy of the DataFrame
repository_copy = repository.copy()

In [16]:
repository=repository.drop_duplicates()

In [17]:
repository.head()

,repository,repository_url,created_at,description,topics,stars,forks,open_issues,repository_Id,language_Id,owner_Id
0,notepad--,https://github.com/cxasm/notepad--,2022-06-15 02:50:15+00:00,A text editor that supports windows linux mac ...,"['notepad--', 'C++']",2939,117,114,3520,11,1859
2,pocket-casts-android,https://github.com/Automattic/pocket-casts-and...,2022-06-15 12:41:42+00:00,Pocket Casts Android,"['android', 'pocket-casts']",2250,168,252,3763,42,160
32,nvim-basic-ide,https://github.com/LunarVim/nvim-basic-ide,2022-06-15 23:06:53+00:00,This is my attempt at a basic stable starting ...,"['hacktoberfest', 'hacktoberfest2022', 'lua', ...",1664,436,3,3546,45,695
51,sismo-hub,https://github.com/sismo-core/sismo-hub,2022-06-15 16:44:53+00:00,There is no description,"['sismo-hub', 'TypeScript']",893,184,7,4206,92,3705
81,Antenna,https://github.com/wuba/Antenna,2022-06-15 06:42:25+00:00,Antenna is a tool created by the security team...,"['antenna', 'cybersecurity', 'django', 'dns-re...",675,72,3,103,38,4168

In [18]:
print(repository.shape)

(5214, 11)

In [19]:
repository_Contributor = pd.DataFrame({'contributor_Id': contributor['contributor_Id'], 'repository_Id': repository_copy ['repository_Id'],'contributions_count' :df['contributions'] })
repository_Contributor.head()

   contributor_Id  repository_Id  contributions_count
0            8278           3520                   61
1           13006           3520                    1
2            6697           3763                 1679
3           13752           3763                  993
4           10049           3763                  398

In [20]:
# Change the column order using indexing on each DataFrame
contributor = contributor[['contributor_Id', 'contributor']]
owner = owner[['owner_Id', 'owner']]
language = language[['language_Id', 'language']]
repository = repository[['repository_Id','owner_Id', 'repository', 'repository_url', 'created_at', 'description', 'topics','language_Id', 'stars', 'forks', 'open_issues']]

In [21]:
repository.head()

,repository_Id,owner_Id,repository,repository_url,created_at,description,topics,language_Id,stars,forks,open_issues
0,3520,1859,notepad--,https://github.com/cxasm/notepad--,2022-06-15 02:50:15+00:00,A text editor that supports windows linux mac ...,"['notepad--', 'C++']",11,2939,117,114
2,3763,160,pocket-casts-android,https://github.com/Automattic/pocket-casts-and...,2022-06-15 12:41:42+00:00,Pocket Casts Android,"['android', 'pocket-casts']",42,2250,168,252
32,3546,695,nvim-basic-ide,https://github.com/LunarVim/nvim-basic-ide,2022-06-15 23:06:53+00:00,This is my attempt at a basic stable starting ...,"['hacktoberfest', 'hacktoberfest2022', 'lua', ...",45,1664,436,3
51,4206,3705,sismo-hub,https://github.com/sismo-core/sismo-hub,2022-06-15 16:44:53+00:00,There is no description,"['sismo-hub', 'TypeScript']",92,893,184,7
81,103,4168,Antenna,https://github.com/wuba/Antenna,2022-06-15 06:42:25+00:00,Antenna is a tool created by the security team...,"['antenna', 'cybersecurity', 'django', 'dns-re...",38,675,72,3

In [22]:
contributor.head()

   contributor_Id contributor
0            8278       cxasm
1           13006    littzhch
2            6697     ashiagr
3           13752   mchowning
4           10049  geekygecko

In [23]:
owner.head()

   owner_Id       owner
0      1859       cxasm
1      1859       cxasm
2       160  Automattic
3       160  Automattic
4       160  Automattic

In [24]:
language.head()

   language_Id language
0           11      C++
1           11      C++
2           42   Kotlin
3           42   Kotlin
4           42   Kotlin

In [25]:
repository_Contributor.head()

   contributor_Id  repository_Id  contributions_count
0            8278           3520                   61
1           13006           3520                    1
2            6697           3763                 1679
3           13752           3763                  993
4           10049           3763                  398

# SQL

In [1]:
import pyodbc

In [2]:
# Créez la connexion
connection = pyodbc.connect('DRIVER={SQL SERVER} ;SERVER=LAPTOP-1US3GU3J\SQLEXPRESS;DATABASE=GithubDB')

In [26]:
cursor = connection.cursor()

In [27]:
# Create the Contributor table
cursor.execute('''
    CREATE TABLE [Contributor] (
      [contributor_Id] INT,
      [contributor_name] VARCHAR(255),
      PRIMARY KEY ([contributor_Id])
    );
''')

# Create the Language table
cursor.execute('''
    CREATE TABLE [Language] (
      [language_Id] INT,
      [language_name] VARCHAR(255),
      PRIMARY KEY ([language_Id])
    );
''')

# Create the Owner table
cursor.execute('''
    CREATE TABLE [Owner] (
      [owner_Id] INT,
      [owner_name] VARCHAR(255),
      PRIMARY KEY ([owner_Id])
    );
''')

# Create the Repository table
cursor.execute('''
    CREATE TABLE [Repository] (
      [repository_Id] INT,
      [owner_Id] INT,
      [repository_name] VARCHAR(255),
      [repository_url] VARCHAR(255),
      [created_at] DATETIME,
      [description] VARCHAR(1000),
      [topics] VARCHAR(400),
      [language_Id] INT,
      [stars] INT,
      [forks] INT,
      [open_issues] INT,
      PRIMARY KEY ([repository_Id]),
      CONSTRAINT [FK_Repository.language_Id]
        FOREIGN KEY ([language_Id])
          REFERENCES [Language]([language_Id]),
      CONSTRAINT [FK_Repository.owner_Id]
        FOREIGN KEY ([owner_Id])
          REFERENCES [Owner]([owner_Id])
    );
''')

# Create the Repository_Contributor table
cursor.execute('''
    CREATE TABLE [Repository_Contributor] (
      [repository_Id] INT,
      [contributor_Id] INT,
      [contributions_count] INT,
      CONSTRAINT [FK_Repository_Contributor.contributor_Id]
        FOREIGN KEY ([contributor_Id])
          REFERENCES [Contributor]([contributor_Id]),
      CONSTRAINT [FK_Repository_Contributor.repository_Id]
        FOREIGN KEY ([repository_Id])
          REFERENCES [Repository]([repository_Id])
    );
''')

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC SQL Server Driver][SQL Server]There is already an object named 'Contributor' in the database. (2714) (SQLExecDirectW)")

In [28]:
connection.commit()

In [29]:
# Insert data into the Contributor table
for row in contributor.itertuples():
    # Check if the contributor_Id already exists in the table
    cursor.execute('SELECT COUNT(*) FROM Contributor WHERE contributor_Id = ?', (row.contributor_Id,))
    count = cursor.fetchone()[0]
    
    if count == 0:
        # Insert the record if it doesn't exist
        cursor.execute('INSERT INTO Contributor (contributor_Id, contributor_name) VALUES (?, ?)', (row.contributor_Id, row.contributor))

connection.commit()

In [30]:
# Insert data into the language table
for row in language.itertuples():
    # Check if the language_Id already exists in the table
    cursor.execute('SELECT COUNT(*) FROM Language WHERE language_Id = ?', (row[1],))  # row[1] for language_Id
    count = cursor.fetchone()[0]
    
    if count == 0:
        # Insert the record if it doesn't exist
        cursor.execute('INSERT INTO Language (language_Id, language_name) VALUES (?, ?)', (row[1], row[2]))  # row[1] for language_Id, row[2] for language_name

connection.commit()

In [31]:
# Insert data into the Owner table
for row in owner.itertuples():
    # Check if the owner_Id already exists in the table
    cursor.execute('SELECT COUNT(*) FROM Owner WHERE owner_Id = ?', (row.owner_Id,))
    count = cursor.fetchone()[0]
    
    if count == 0:
        # Insert the record if it doesn't exist
        cursor.execute('INSERT INTO Owner (owner_Id, owner_name) VALUES (?, ?)', (row.owner_Id, row.owner))

connection.commit()

In [32]:
# Convert 'created_at' column to datetime format
repository['created_at'] = pd.to_datetime(repository['created_at'])

# Insert data into the Repository table
for row in repository.itertuples():
    # Check if the repository_Id already exists in the table
    cursor.execute('SELECT COUNT(*) FROM Repository WHERE repository_Id = ?', (row.repository_Id,))
    count = cursor.fetchone()[0]
    
    if count == 0:
        # Insert the record if it doesn't exist
        cursor.execute('INSERT INTO Repository (repository_Id, owner_Id, repository_name, repository_url, created_at, description, topics, language_Id, stars, forks, open_issues) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)',
                       (row.repository_Id, row.owner_Id, row.repository, row.repository_url, row.created_at, row.description, row.topics, row.language_Id, row.stars, row.forks, row.open_issues))

connection.commit()

In [33]:
# Insert data into the Repository_Contributor table
for row in repository_Contributor.itertuples():
    # Check if the combination of 'repository_Id' and 'contributor_Id' already exists in the table
    cursor.execute('SELECT COUNT(*) FROM Repository_Contributor WHERE repository_Id = ? AND contributor_Id = ?', (row.repository_Id, row.contributor_Id))
    count = cursor.fetchone()[0]
    
    if count == 0:
        # Insert the record if it doesn't exist
        cursor.execute('INSERT INTO Repository_Contributor (repository_Id, contributor_Id, contributions_count) VALUES (?, ?, ?)', (row.repository_Id, row.contributor_Id, row.contributions_count))

connection.commit()

In [34]:
import time

In [35]:
# Exemple de requête à tester avant indexation
query_avant_index = 'SELECT * FROM Repository WHERE repository_name = ?'
valeur_recherche = 'CVE-2023-2002'

# Mesurer le temps d'exécution avant indexation
debut_avant_index = time.time()
cursor.execute(query_avant_index, (valeur_recherche,))
resultat_avant_index = cursor.fetchall()
fin_avant_index = time.time()
temps_execution_avant_index = fin_avant_index - debut_avant_index

# Afficher les résultats
print(f"Temps d'exécution avant indexation: {temps_execution_avant_index} secondes")

Temps d'exécution avant indexation: 0.04065895080566406 secondes

In [36]:
# Créer l'index sur la colonne 'repository_name' de la table 'Repository'
cursor.execute('CREATE INDEX idx_repository_name ON Repository (repository_name);')
connection.commit()

In [37]:
# Exemple de requête à tester après indexation
query_apres_index = 'SELECT * FROM Repository WHERE repository_name = ?'
valeur_recherche = 'practical-llms'

# Mesurer le temps d'exécution après indexation
debut_apres_index = time.time()
cursor.execute(query_apres_index, (valeur_recherche,))
resultat_apres_index = cursor.fetchall()
fin_apres_index = time.time()
temps_execution_apres_index = fin_apres_index - debut_apres_index

# Afficher les résultats
print(f"Temps d'exécution après indexation: {temps_execution_apres_index} secondes")

Temps d'exécution après indexation: 0.011125564575195312 secondes

In [38]:
# Créer l'index sur la colonne 'contributor_name' de la table 'Contributor'
cursor.execute('CREATE INDEX idx_contributor_name ON Contributor (contributor_name);')

# Créer l'index sur la colonne 'language_name' de la table 'Language'
cursor.execute('CREATE INDEX idx_language_name ON Language (language_name);')

# Créer l'index sur la colonne 'owner_name' de la table 'Owner'
cursor.execute('CREATE INDEX idx_owner_name ON Owner (owner_name);')

In [39]:
cursor.close()
connection.close()